.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

/* Адрес */
address {
  font-style: normal;
  line-height: 1.35;
}

/* HEADER */

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 0 50px;
  margin-bottom: 96px;
  font-size: 18px;
}

/* Меню */
.header__links-list {
  display: flex;
  gap: 34px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link_active {
  text-decoration: none;
}

/* Логотип */
.header__logo-image {
  display: block;
  width: 148px;
  height: auto;
}

/* Адрес в шапке */
.header__address {
  max-width: 240px;
  justify-self: end;
  text-align: start;
}

/* COVER (ОБЛОЖКА) */

.cover {
  position: relative;
  background-image: url('../images/cover.jpg');
  background-size: cover;
  background-position: center;
  min-height: 757px; 
  padding: 165px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 130px;
  margin-bottom: 180px;
  color: #fff;
  z-index: 0;
}

/* Заголовок */
.cover__title {
  font-size: 100px;
  font-weight: 700;
  line-height: 1.15;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 2;
  position: relative;
}

.aligned-text_center {
  align-self: center;
}

.aligned-text_right {
  align-self: end;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

/* Описание и кнопка */
.cover__description {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 80px;
  z-index: 2;
  position: relative;
}

.cover__description-text {
  font-size: 22px;
  word-spacing: 18px;
  text-transform: uppercase;
}

.bet-button {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 12px 32px;
  text-transform: uppercase;
  font-size: 22px;
  cursor: pointer;
}

/* LOTS (КАРТОЧКИ) */

.lots {
  padding: 0 24px;
  margin-bottom: 180px;
}

.lots__heading {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 27px;
  margin-left: 26px;
}

.lots__card-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 334px;
  min-height: 450px;
}

.card-link {
  display: block;
  height: 100%;
  text-decoration: none;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
  background-size: cover;
  background-position: center;
  color: #fff;
}

/* Фоны карточек */
.card_type_film {
  background-image: url('../images/card-lot-01.jpg');
}
.card_type_book {
  background-image: url('../images/card-lot-02.jpg');
}
.card_type_picture {
  background-image: url('../images/card-lot-03.jpg');
}

.card__title {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  z-index: 2;
}

.card__text {
  font-size: 20px;
  z-index: 2;
}

.lots__look-more-link {
  display: block;
  margin-left: 26px;
  font-size: 20px;
  text-decoration: underline;
}

/* ABOUT (ОБ АУКЦИОНЕ) */
.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 25px;
  padding: 0 24px;
  margin-bottom: 180px;
}

.about__column {
  position: relative;
}

/* Черный круг с логотипом */
.about__logo {
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.about__logo-image {
  width: 148px;
}

.about__title {
  font-size: 40px;
  text-transform: uppercase;
  margin-bottom: 100px;
  margin-top: 100px;
}

.about__text {
  font-size: 20px;
  line-height: 1.5;
}

.about__text p:first-child {
  margin-bottom: 24px;
}

/* FOOTER */

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  padding: 0 50px 90px 50px;
  font-size: 18px;
}

/* Меню в футере */
.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  text-decoration: underline;
}
.footer__menu-link_active {
  text-decoration: none;
}

/* Соцсети */
.footer__social-list {
  list-style: none;
  display: flex;
  gap: 48px;
  justify-content: flex-end;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}